
<div class="s3-manager">
		<%= react_component('Repository', {
      files_url: '/get_files_as_tree',
			create_folder_url: '/create_folder',
      auth_sign_url: '/sign_auth_upload',
      delete_files_url: '/delete_files',
      cut_paste_files_url: '/cut_paste_files',
      copy_paste_files_url: '/copy_paste_files',
			rename_file_url: '/rename_file',
      path_prefix: 'sub_folder/',
			s3_options:{
				access_key: Rails.application.secrets.s3_access_key,
				bucket: Rails.application.secrets.s3_bucket,
				url: Rails.application.secrets.s3_url
			},
			logging: false
		}) %>
</div>



<style>

.upload-queue{
  margin-bottom: 10px;
}

.upload-queue-item {
  border: 1px solid #ddd;
  background-color:#F5F5F5;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:11px;
  margin-top:5px;
  max-width:500px;
  padding:10px
}


.upload-queue-item.error {
  border-color: #f2dede;
  background-color: #f2dede;
  color: #a94442;
}


.upload-progress {
    background-color:#E5E5E5;
    margin-top:10px;
    width:100%
}

.upload-progress-bar {
    background-color:#09F;
    height:3px;
    width:1px
}

.upload-queue-item .actions i {
    float:right;
    height:16px;
    width:16px;
    color: #333;
}

.s3-manager .file-input-container {
  border: 1px dashed #ddd;
  background-color: #F7F7F7;
}
.s3-manager .file-input-container:hover {
  border: 1px solid #ddd;
}

.s3-manager .file-input-text {
  padding-top: 3em;
  position: absolute;
  margin: auto 30%;
}

.s3-manager input[type="file"]{
  opacity: 0;
  padding-bottom: 4em;
  padding-top: 2em;
  width: 100%;
  cursor: pointer;
}

.s3-manager input[type="file"]:after {
    display: block;
    min-width: 20em;
    margin: auto 40%;
}

.s3-manager table .form-control {
    display: inline;
    height: 25px;
    width: 60%;
    padding: 5px;
}
</style>