<style>


.upload-queue{
	margin-bottom: 10px;
}

.upload-queue-item {
	border: 1px solid #ddd;
  background-color:#F5F5F5;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:11px;
  margin-top:5px;
  max-width:500px;
  padding:10px
}


.upload-progress {
    background-color:#E5E5E5;
    margin-top:10px;
    width:100%
}

.upload-progress-bar {
    background-color:#09F;
    height:3px;
    width:1px
}

.upload-queue-item .actions i {
    float:right;
    height:16px;
    width:16px;
    color: #333;
}

.s3-manager .file-input-container {
	border: 1px dashed #ddd;
	background-color: #F7F7F7;
}
.s3-manager .file-input-container:hover {
	border: 1px solid #ddd;
}

.s3-manager .file-input-text {
  padding-top: 3em;
	position: absolute;
  margin: auto 30%;
}

.s3-manager input[type="file"]{
	opacity: 0;
  padding-bottom: 4em;
  padding-top: 2em;
  width: 100%;
  cursor: pointer;
}
.s3-manager input[type="file"]:after {
    display: block;
    min-width: 20em;
    margin: auto 40%;
}
/*.s3-manager input[type="file"]:hover{
  border: 1px dashed #67a5c5;
}*/

/*.s3-manager input[type="file"]{
  padding-bottom: 4em;
  padding-top: 2em;
  width: 100%;
  border: 1px dashed #000;
}

.s3-manager input[type="file"]:after {
    content: "Drag and drop files to upload (or click)";
    display: block;
    min-width: 20em;
    margin: auto 40%;
}

.s3-manager input[type="file"]:hover{
  border: 1px dashed #67a5c5;
}


.file-dropzone {
	width: 500px;
	height: 100px;
	border-style:dashed;	border-width: 1px;
}

.file-dropzone input[type="file"]{
	display: none;
}

.file-dropzone-text {
	padding: 40px;
}
*/



</style>

<div class="s3-manager">
		<%= react_component('Repository', {
			files_url: '/get_files_as_tree',
			auth_sign_url: '/sign_auth_upload',
			s3_options:{
				access_key: Rails.application.secrets.s3_access_key,
				bucket: Rails.application.secrets.s3_bucket,
				url: Rails.application.secrets.s3_url
			},
			logging: false
		}) %>
</div>


<!-- 
<div>
   <input type="file" id="files"  multiple />
<div>

<br>
<br>
<br>
<br>
<div>

   <main>
       <section>
           <div>
               <form id="s3_upload" action="upload_dropzone" class="dropzone dz-clickable">
                   <div class="dz-message">Drop files here or click to upload.</div>
               </form>
           </div>
       </section>
   </main>


</div>


<script>
$(function(){
   Dropzone.options.s3_upload = {
     maxFilesize: 4000
  };
})
</script>

      

<script language="javascript">

   var files;
   
   var _e_ = new Evaporate({
      signerUrl: '/sign_auth',
      aws_key: 'AKIAIETTEVTO7HILBNEQ',
      bucket: 'julien-s-bucket',
      aws_url: 'https://s3-ap-northeast-1.amazonaws.com',
      logging: false
   });

   $('#files').change(function(evt){
      files = evt.target.files;
      
      for (var i = 0; i < files.length; i++){
      
         _e_.add({
            name: 'testA/' + files[i].name,
            file: files[i],
            signParams: {
							foo: 'testABCDEF'
            },
            complete: function(){
               console.log('complete................yay!');
               console.log(arguments);
            },
            progress: function(progress){
               console.log('making progress: ' + progress);
            },
            cancelled: function(){
               console.log('---cancelled');
               console.log(arguments);
            },
            // info: function(){
            //    console.log('---info');
            //    console.log(JSON.stringify(arguments,null,2));
            // },
            warn: function(){
               console.log('---warn');
               console.log(arguments);
            },
            error: function(){
               console.log('---error');
               console.log(arguments);
            }
         });
      }
      
      $(evt.target).val('');
      
   });

</script> -->